* {
    font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', serif;
}

.tag_input {
    padding: 0 5px 0 5px;
    width: 220px;
    height: 32px;
    border: #ccc 1px solid;
    font-size: 90%;
}
.tag_input_text {
    float: right;
    padding: 0;
    width: 210;
    height: 32px;
    outline: none;
    border: none;
    font-size: 14px;
}
.tag {
    margin: 2px 2px 2px 0;
    padding: 5px 8px 5px 8px;
    border-right: 1px solid #24A7AC;
    border-bottom: 1px solid #24A7AC;
    background-color: #39cbd0;
    color: #fff;
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.05em #646464;
    white-space: nowrap;
    font-size: 90%;
    line-height: 2.4;
}
.delete-tag {
    display: inline-block;
    margin: 0 0 0 5px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background: #555;
    text-align: center;
    text-shadow: none;
    font-weight: bold;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;
    line-height: 14px;
    opacity: 0.8;
    cursor: pointer;
}
.delete-tag:hover {
    opacity: 1.0;
}
.SO_results {
    display: none;
    width: 230px;
    border: #ccc 1px solid;
    border-top: 0;
    background: #fff;
}

.SO_result {
    float: left;
    margin: 5px;
    padding: 0 5px 5px 5px;
    width: 210px;
    cursor: pointer;
}

.SO_selected {
    background: #E8FFDF;
}

.SO_result:hover {
    background: #FAFAFA;
}
.SO_selected:hover {
    background: #caedbc;
}
.SO_result_description {
    font-size: 11px;
}
.selected_tags {
    display: inline;
}
